* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 38, 66);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(0, 0, 255);
  width: 95vh;
  height: 95vh;
  border-radius: 70px;
}

.board {
  display: flex;
  justify-self: center;
  flex-direction: column;
  width: 80vh;
  height: 80vh;
}

.cell {
  border: 1px solid lightgray ;
  background-color: white;
}

button {
  width: 100px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
}



.settings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

div .input-container {
  text-align: center;
}

button:hover {
  margin-top: 8px;
  cursor: pointer;
}


